.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background: black;
  color: white;
}

.navbar img {
  height: 80px;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar a {
  color: gold;
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: white;
}

