<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Kokeslots</title>


</head>

<body>
    
    <div class="home-container">

<div class="section">

    <!-- Título con imagen -->
    <div class="title-container">
        <h1>Kokeslots</h1>
        <img class="logo" src="/assets/images/kokeslot.png" alt="logo">
    </div>

    <!-- Redes -->
    <div class="socials">
        
        <!-- <a href="https://youtube.com" target="_blank" class="card">
            <img src="/assets/images/Youtube.svg" alt="YouTube">
            <h3 class="TextB">YouTube</h3>
        </a> -->

        <a href="https://kick.com/kokeslots" target="_blank" class="card">
            <img src="/assets/images/Kick.jfif" alt="Discord">
            <h3 class="TextB">Kick</h3>
        </a>

        <a href="https://www.instagram.com/kokeslots/" target="_blank" class="card">
                     <img src="/assets/images/Instagram.svg" alt="Instagram">
            <h3 class="TextB">Instagram</h3>
        </a>

        <!-- <a href="https://instagram.com" target="_blank" class="card">
                     <img src="/assets/images/Whatsap.svg" alt="Whatsap">
            <h3 class="TextB">Whatsap</h3>
        </a> -->

        <a href="https://roobet.com/?ref=KokeSlots" target="_blank" class="card">
                     <img src="/assets/images/kokeslot.png" alt="Casino">
            <h3 class="TextB">Casino Roobet</h3>
        </a>

    </div>

</div>
</div>
</body>
</html>