<div class="home-container">

  <div class="overlay">
    <img class="logo" src="/assets/images/kokeslot.png" alt="kokeslot">
    <p class="subtitle">La mejor experiencia de casino del streamer ✨</p>

    <!-- PANEL DE VALIDACIÓN PARA STREAMER -->
    <!-- <div *ngIf="esStreamer" class="affiliate-panel">
      <h3>Validar usuario con código Coqueslot</h3>
      <input [(ngModel)]="usuarioInput" placeholder="Nombre del jugador" />
      <button (click)="validarUsuario()">Validar</button>

      <p *ngIf="resultadoValidacion !== null">
        {{ resultadoValidacion ? usuarioInput + ' está con Coqueslot ✅' : usuarioInput + ' NO está con Coqueslot ❌' }}
      </p>
    </div> -->
  </div>
</div>
