/* .table-container {
  padding: 40px;
  text-align: center;
}



th, td {
  padding: 15px;
  border: 1px solid gold;
}

th {
  background: #222;
} */


table {
  margin: 0 auto;
 width: 90vw;
   margin-top: 20px;
}


.leaderboard-container {
  color: #fff;
  text-align: center;
  /* background-color: #111; */
}

.countdown-box {
  background: #111;
  border: 2px solid #0ff;
  box-shadow: 0 0 20px #0ff;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 30px;
}

.countdown-box .time {
  font-size: 28px;
  font-weight: bold;
  color: #0ff;
  text-shadow: 0 0 10px #0ff;
}

.podium {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.podium-item {
  width: 17vw;
  padding: 20px;
  background: #222;
  border-radius: 20px;
  box-shadow: 0 0 15px #ff00dd;
  border: 2px solid #ff00dd;
  margin: 0 2vw;
}

.podium-item.first {
  transform: scale(1.15);
  background: #331144;
}

.prize {
  color: #0ff;
  font-weight: bold;
}

.prize.big {
  font-size: 20px;
  color: #0ff;
}

.neon-table {
  border: 2px solid #0ff;
  box-shadow: 0 0 20px #0ff;
}


.tablatr{
  border-width: 2px;
  font-size: 1.5vw;

}

.neon-cabecera {
  color: #ff0084;
  /* text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff; */
}

.card_text{
  font-size: 1.8vw;
}

