/* .table-container {
  padding: 40px;
  text-align: center;
}

table {
  margin: auto;
  border-collapse: collapse;
  width: 70%;
  background: black;
  color: white;
}

th, td {
  padding: 15px;
  border: 1px solid gold;
}

th {
  background: #222;
} */



.leaderboard-container {
  color: #fff;
  text-align: center;
  background-color: #111;
}

.countdown-box {
  background: #111;
  border: 2px solid #0ff;
  box-shadow: 0 0 20px #0ff;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 30px;
}

.countdown-box .time {
  font-size: 28px;
  font-weight: bold;
  color: #0ff;
  text-shadow: 0 0 10px #0ff;
}

.podium {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.podium-item {
  width: 200px;
  padding: 20px;
  background: #222;
  border-radius: 20px;
  box-shadow: 0 0 15px #ff00dd;
  border: 2px solid #ff00dd;
}

.podium-item.first {
  transform: scale(1.15);
  background: #331144;
}

.prize {
  color: #0ff;
  font-weight: bold;
}

.prize.big {
  font-size: 20px;
  color: #0ff;
}

.neon-table {
  border: 2px solid #0ff;
  box-shadow: 0 0 20px #0ff;
}

.neon-table th, .neon-table td {
  color: #fff;
}

.tablatr{
  border-width: 2px;
}