
<div class="ruleta-container back">

  <!-- IZQUIERDA: RULETA -->
  <div class="col-left">
    <div class="ruleta-wrapper">
      <canvas id="ruletaCanvas" width="450" height="450"></canvas>

      <div class="flecha"></div>
    </div>

    <button class="btn-spin"
            (click)="girarRuleta()"
            [disabled]="usuarios.length < 2 || girando">
      Girar Ruleta
    </button>

    <div class="resultado" *ngIf="ganador">
      Ganador: {{ ganador }}
    </div>

  
  </div>
<!-- Modal de Ganador -->
<div class="winner-modal" [class.show]="showWinnerModal">
  <div class="winner-content">
    <h2>🎉 ¡Ganador! 🎉</h2>
    <p>{{ ganadorNombre }}</p>

    <button (click)="cerrarModal()" class="btn-ok">OK</button>
  </div>
</div>

  <!-- DERECHA: CONTROLES -->
<div class="col-right">

  <h2 class="titulo-seccion">🎰 Control de Participantes</h2>

  <!-- AGREGAR UN USUARIO -->
  <div class="card">
    <h3>Agregar un usuario</h3>
    <input class="input-casino" [(ngModel)]="nuevoUsuario" placeholder="Nombre">
    <button class="btn-casino" (click)="agregarUsuario()">Agregar</button>
  </div>

  <!-- AGREGAR VARIOS USUARIOS -->
  <div class="card">
    <h3>Pegar varios</h3>
    <textarea class="textarea-casino" [(ngModel)]="usuariosPegados" placeholder="Pega uno por línea"></textarea>
    <button class="btn-casino" (click)="agregarVarios()">Agregar varios</button>
  </div>

  <!-- BOTÓN LIMPIAR RUEDA -->
  <button class="btn-danger" (click)="limpiarRuleta()">Limpiar ruleta</button>

  <!-- LISTA DE USUARIOS -->
  <div class="card lista-scroll">
    <h3>Usuarios actuales</h3>

    <ul class="lista-usuarios">
      <li *ngFor="let u of usuarios; let i = index">
        {{ u }}
        <button class="btn-delete" (click)="eliminarUsuario(i)">X</button>
      </li>
    </ul>
  </div>

  <!-- HISTORIAL -->
  <div class="card lista-scroll">
    <h3>Historial de eliminados</h3>

    <ul class="lista-usuarios historial">
      <li *ngFor="let h of historial">{{ h }}</li>
    </ul>
  </div>

</div>
</div>
